.button {
    background-color: #555;
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
.form {
    border: solid #222;
    border-radius: 20px;
}

.rangeBox {
    width: 25px;
    margin: 10px;
}

p {
    font-size: 10pt;
}

a {
    font-style: oblique;
    font-size: 10pt;
    font-weight: bold;
    color: #AEEA00;
    text-decoration: none;
}